# Виртуальное окружение
venv/
env/
.venv/

# Кэш и байт-код Python
__pycache__/
*.pyc
*.pyo

# Базы данных SQLite
*.db
*.sqlite
*.sqlite3

# Логи
*.log

# Файлы IDE
.vscode/
.idea/
*.swp

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Файлы окружения
.env